USE [Oferty_pracy]
GO
/****** Object:  Table [dbo].[Firmy]    Script Date: 20.05.2024 10:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firmy](
	[ID] [int] NOT NULL,
	[firma] [nvarchar](50) NOT NULL,
	[lokalizacja] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategorie]    Script Date: 20.05.2024 10:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorie](
	[ID] [int] NOT NULL,
	[kategoria] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oferta]    Script Date: 20.05.2024 10:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oferta](
	[OfertaID] [nvarchar](max) NULL,
	[StanowiskoID] [int] NULL,
	[FirmaID] [int] NULL,
	[KategoriaID] [int] NULL,
	[WalutaID] [int] NULL,
	[ŹródłoID] [int] NULL,
	[Link] [nvarchar](max) NULL,
	[UmiejętnościID] [int] NULL,
	[Seniority] [nvarchar](max) NULL,
	[WynagrodzenieMIN] [decimal](18, 0) NULL,
	[WynagrodzenieMAX] [decimal](18, 0) NULL,
	[Podsumowanie] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stanowiska]    Script Date: 20.05.2024 10:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stanowiska](
	[ID] [int] NULL,
	[Stanowisko] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Umiejętności]    Script Date: 20.05.2024 10:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Umiejętności](
	[ID] [int] NULL,
	[Umiejętność] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Waluty]    Script Date: 20.05.2024 10:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Waluty](
	[ID] [int] NULL,
	[waluta] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Źródła]    Script Date: 20.05.2024 10:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Źródła](
	[ID] [int] NULL,
	[źródło] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Firmy] ([ID], [firma], [lokalizacja]) VALUES (1, N'Be in IT', N'brak informacji')
INSERT [dbo].[Firmy] ([ID], [firma], [lokalizacja]) VALUES (2, N'Scalo Sp. z o.o.', N'brak informacji')
INSERT [dbo].[Firmy] ([ID], [firma], [lokalizacja]) VALUES (3, N'JellyTech', N'brak informacji')
GO
INSERT [dbo].[Kategorie] ([ID], [kategoria]) VALUES (1, N'BigData/Data Science')
GO
INSERT [dbo].[Stanowiska] ([ID], [Stanowisko]) VALUES (1, N'Starszy specjalista (Senior)')
INSERT [dbo].[Stanowiska] ([ID], [Stanowisko]) VALUES (2, N'Specjalista (Mid / Regular)')
INSERT [dbo].[Stanowiska] ([ID], [Stanowisko]) VALUES (3, N'Specjalista (Mid / Regular), Starszy specjalista (Senior)')
GO
INSERT [dbo].[Umiejętności] ([ID], [Umiejętność]) VALUES (1, N'SQL')
INSERT [dbo].[Umiejętności] ([ID], [Umiejętność]) VALUES (2, N'Microsoft Power BI')
INSERT [dbo].[Umiejętności] ([ID], [Umiejętność]) VALUES (3, N'Cognos')
GO
INSERT [dbo].[Waluty] ([ID], [waluta]) VALUES (1, N'zł')
GO
INSERT [dbo].[Źródła] ([ID], [źródło]) VALUES (1, N'www.pracuj.pl')
GO
